.layout {
  margin-top: 90px;
  display: flex;
  width: 80%;
  position: absolute;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-evenly; 
}

.notes_list {
  width: 90%;
}

.notes__add-button {
  margin-top : 50px;
  margin-left: 3em;
  position: -webkit-sticky;
  position: sticky;
  width: 20%;
  align-self: center;

}

.nav {
  position: absolute;
}

.page {
  overflow-y: scroll;
  background-color: #091927;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 120vh;
}