.newCategory {
  float: bottom;
  position: relative;
  position: absolute; 
  bottom: 0;
  width: 100%;
}

.newCategoryForm {
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
}

.category__create-input {
  border-radius: 5vw;
  width: 100%;
  padding-left: 1em;
  font-family: sans-serif;
  font-weight: 600;
}
.category__create-input:focus {
  outline: none;
  box-shadow: 0 0 2px 1pt blue;
}

#dropdown-basic {
  width: 100%;
  border-radius: 10vw;
  flex-grow: 1;
}

.category__actions {
  display: flex;
  justify-content: space-between;
  margin: 1em;
    width: 8em;
    margin-top: -0.5em;
    border-radius: 5vw;
    font-weight: 600;
}
.category__actions:hover {
  background-color: lightgray;
}
.category__actions:active {
  -webkit-box-shadow: inset 0 0 3px darkgrey;
}
.category__actions:focus {
  outline: none;
  box-shadow: 0 0 2px 1pt blue;
}