.category__create-input {
  border-radius: 5vw;
  margin: 1em;
  width: 20.5em;
}

.category__actions {
  display: flex;
  justify-content: space-around;
  width: 20.5em;
  margin: 1em;
  Button{
    border-radius: 5vw;
  }
}