@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

.calendar {
  max-width: 56vw;
  margin: 1 auto;
  margin-top: 42px;
  display: flex;
}

.fc-title:hover {
  
}

.confirm-button-class{
  border-radius: 5rem;
}

.cancel-button-class{
  border-radius: 5rem;
}

.swal2-confirm{
  border-radius: 5rem;
}


// .fc-day:hover{
//   -webkit-transform: rotateZ(-30deg);
//   -ms-transform: rotateZ(-30deg);
//   transform: rotateZ(-30deg);
// }