@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

.calendar {
  max-width: 56vw;
  margin: 1 auto;
  margin-top: 42px;
  display: flex;
}

.fc-title:hover {
  background-color: red;
}

.confirm-button-class{
  border-radius: 5rem;
}

.cancel-button-class{
  border-radius: 5rem;
}

.swal2-confirm{
  border-radius: 5rem;
}


// .fc-day:hover{
//   background-color: red;

// }

.day-highlight {
  background-color: red !important;
  color: red !important;
}

@media only screen 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .calendar {
      max-width: 100vw;
    }
    .fc-today-button{
      display: none;
    }
    .fc-dayGridMonth-button{
      display: none;
    }
    .fc-time:before{
      display: none;
    }
    .fc-time:after{
      display: none;
    }
 
}