.sidebar{
  height: 90vh;
  width: 25vw;
  left: 100;
  margin-top: 50px;
  position: relative;
}
.category_list{
  margin-top: 10vh !important;
  z-index: 1;
}

.planner {
  font-family: Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0.8em;
  color: white;
}


@media only screen 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .sidebar {
      display: none;
    }
}