.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 40px;
  background: white;
  box-shadow: 0px 2px 3px 0px rgba(120,120,120,1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logout {
  border-radius: 5vw;
  font-size: 3vh;
}
a {
  margin-top: -14px;
  font-size: 30px;
  color:black;
}
a:hover {
  color: black;
  text-decoration: none;
}
