.text-editor {
  border: solid black;
  width: 60vw;
}

.text-editor-button {
  width: 5em;
  margin-top: -0.5em;
  border-radius: 5vw;
  font-weight: 600;
  background-color: #FEDD00;
}

.text-editor-button-delete{
  width: 5em;
  margin-top: -0.5em;
  border-radius: 5vw;
  font-weight: 600;
}